################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

*.opendb
*.obj
/winDirect/winAPI/Debug/image.obj
/winDirect/winAPI/Debug/image.obj
